@tailwind base;
@tailwind components;
@tailwind utilities;

.post-container {
  border: 1px solid #ccc; /* Add your preferred border style */
  padding: 10px; /* Add padding for spacing */
  display: flex;
  flex-direction: column;
}
